.menuContainer {
    background-color: #000;
    padding-bottom: 6rem;
}

.mainMenu {
    margin: 0 5em;
    padding: 1.5em 5em;
}

.flex-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-items-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.menu-items-flex li {
    list-style: none;
}

.menu-items-flex li a {
    color: #fff;
    padding: 0 .5em;
}

.agency-logo {
    color: #fff;
}

.jumbo-greeting {
    color: grey;
    font-size: 2rem;
}

.jumbo-blurb {
    
    color: #fff;
    font-size: 7rem;
}

.flex-jumbo {
    font-family: 'Bitter', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jumbo-buttons-flex {
    display: flex;
    flex-direction: row;
}

.jumbo-buttons {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    padding: 1em;
    margin-right: 1.5em;
    margin-top: 4rem;
}

.social-media {
    margin-top: 5em;
    font-size: 1.35rem;
    color: #fff;

}

.social-media i {
    color: #fff;
}

.social-media ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 2.5em;
}

.social-media ul li a i {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 1em;
}

/* =======================================================
Intro container section
======================================================= */

.introContainer {
    background-color: #39b54a;
    text-align: center;
}

.centerContent {
    font-family: 'Bitter', serif;
    width: 55%;
    margin: 0 auto;
    padding: 6rem 0;
}

.jumbo-greeting-black {
    font-size: 2rem;
    color: #000;
}

.jumbo-statement {
    font-family: 'Crimson Text', serif;
    font-size: 2.8rem;
    line-height: 1.5;
}

.divider {
    width: 60%;
    margin: 0 auto;
    padding: .8rem 0;
    
}

.divider hr {
    color: rgba(229, 238, 255, .8);
}

.intro-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4rem 0;
}

.stats-number {
    color: #fff;
    font-size: 8rem;
}

.stats-title {
    font-size: 2rem;
    font-weight: 300;
}

.intro-stats-section {
    border-right: 1px solid rgba(255, 255, 255, .25);
    padding-right: 3rem;
}

/* =======================================================
About container section
======================================================= */

.aboutContainer {
    text-align: center;
}

.jumbo-greeting-green {
    font-size: 2rem;
    color: #39b54a;
}

.jumbo-statement-lg {
    font-size: 5.5rem;
}

.left-align-content {
    text-align: left;
    margin-bottom: 2.5rem;
}

.features i {
    color: #39b54a;
    font-size: 4rem;
}

.feature-title {
    margin-left: 2rem;
    font-size: 3rem;
    font-weight: 600;
}

.features-blurb {
    margin-left: 6rem;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #757575;
}

/* =======================================================
Works container section
======================================================= */

.worksContainer {
    background-color: #000;
    text-align: center;
}